@model Contacto.Models.EmailModel
@{
    ViewData["Title"] = "SendEmail";
}

<h2>Enviar Email</h2>
<hr />
<div class="row">

    <div class="col-md-8" id="google-map">
        <div id="mapa"></div>
    </div>

    <div class="col-md-4">
        <form asp-action="SendEmail">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="From" class="control-label"></label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                <textarea asp-for="Message" class="form-control" rows="3" cols="60"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enviar Correo" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>


<div class="row" style="height:600px">
    <div class="col" style="height:500px">
        <h2>Mapa con etiqueta</h2>
        <hr />
        <div id="etiqueta" style="height:100%"></div>
        <div id="content">Hello world!</div>
    </div>
</div>

<div class="row">
    <div class="col" style="height:500px">
        <h2>Mapa con varios pines</h2>
        <hr />
        <div id="geolocalizaciones" style="height:100%"></div>
    </div>
</div>


<!--Script para la geolocalización-->
<script>
    $(document).ready(function () {
        getGeo();
        dibujaMapa(19.071984, -98.218453);
    });
</script>

<script>
    $(document).ready(function () {
        initGeo();
    });
</script>