@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">BIENVENIDO</h1>
    <p>Vaya al menú <a asp-controller="Email" asp-action="SendEmail">Contacto</a> he ingrese sus datos.</p>
</div>
